{% extends "base.html" %}
{% block title_head %}About{% endblock title_head %}
{% block content %}

<h1> Welcome to my page!. </h1>

<p>This blog's "About" section celebrates Vincent van Gogh's artistic legacy, focusing on his signature style, influences, and the evolution of his work. The blog highlights his use of expressive color, bold, directional brushwork (impasto), and influences like Japanese prints to create his unique, emotional masterpieces. It aims to go beyond the tragic myths of his life to focus on his methodical passion for art, his methodical process, and the lasting impact of his contributions to modern art. 
 </p>

{% endblock content %}